# Environment Variables for TradeBot (whole application)
# For deploying modules, refer to their .env files in modules/*/.env

# ===== GLOBAL =====
APP_ENV=local
NODE_ENV=${APP_ENV}

# ===== BitMEX =====
BITMEX_TESTNET=false
BITMEX_KEY=your_api_key_here
BITMEX_SECRET=your_api_secret_here