# Environment Variables for TradeBot (whole application)
# For deploying modules, refer to their .env files in modules/*/.env

# ===== GLOBAL =====
APP_ENV=local                                   # local/dev, staging, production
NODE_ENV=${APP_ENV}                             # For node services and node-based builds
LOG_LEVEL=info                                  # debug, info, warn, error
TZ=UTC                                          # Timezone (for persistence and UI)

# ===== General Service/Module Parameters ======
COMPOSE_PROJECT_NAME=tradebot                   # Sets shared network and shared services' (infra) project name

BROADCAST_REPLICAS=1                            # Default number of Broadcast service replicas to spin up
CODEC_REPLICAS=3                                # Default number of Codec service replicas to spin up
WRITER_REPLICAS=1                               # Default number of Writer service replicas to spin up

# ===== BitMEX =====
BITMEX_TESTNET=false                            # on/yes/true/1 or off/no/false/<empty>

# --- Bouncer (Authentication) ---
BOUNCER_URL=http://bouncer:3001                 # Bouncer service URL (for account validation)
BOUNCER_TOKEN=your_bouncer_token_here           # Bouncer service token (for authenticated endpoints)
BOUNCER_HTTP_PORT=3011

# ===== Shared Infrastructure =====

# --- RabbitMQ (Message Queue) ---
RABBITMQ_USER=guest                             # Default: guest (RabbitMQ default user)
RABBITMQ_PASS=guest                             # Default: guest (RabbitMQ default password)
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672   # Default: amqp://guest:guest@rabbitmq:5672 (Queue connection URL)
RABBITMQ_AMQP_PORT=                             # Default: <empty> (random external AMQP host port)
RABBITMQ_MGMT_PORT=                             # Default: <empty> (random external management UI host port)
RABBITMQ_RESTART_POLICY=unless-stopped          # Default: unless-stopped

# --- MongoDB (Persistence) ---
MONGODB_USER=root                               # Default: root
MONGODB_PASS=root                               # Default: root
MONGODB_URL=mongodb://root:root@mongodb:27017?authSource=admin   # Default: mongodb://root:root@mongodb:27017?authSource=admin
MONGODB_PORT=                                   # Default: <empty> (random available mapped port on host)
MONGODB_CACHE_SIZE_GB=2                         # Default: 2 (in GB)
MONGODB_RESTART_POLICY=unless-stopped           # Default: unless-stopped

# --- Redis (Cache) ---
REDIS_PASS=                                     # Default: <empty> (no password)
REDIS_URL=redis://:${REDIS_PASS}@redis:6379     # Default: redis://:@redis:6379 (Cache connection URL)
REDIS_PORT=                                     # Default: <empty> (random available host port)
REDIS_RESTART_POLICY=unless-stopped             # Default: unless-stopped
