# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.github/**/*.md

# OS
.DS_Store
Thumbs.db

# Environment & secrets
.env
.env.local
.env.dev*
.env.staging
.env.prod*

# Builds/Deps
**/node_modules/
**/dist/
*.tsbuildinfo
.pnpm-store/
**/.ports.json

.nx/cache
.nx/workspace-data
vitest.config.*.timestamp*
.nx/polygraph
