# Depot Module Configuration
# Copy this file to .env and update all credentials!

# ===== Courier Service =====
COURIER_START_DATE=                         # Default: <empty> (sync from beginning). Format: yyyy-mm-dd

# ===== Scribe Service =====
SCRIBE_START_DATE=

# ===== Tardy Service =====
TARDY_START_DATE=2023-03-30
