# Journal Module Configuration
# Copy this file to .env and update all credentials!

# ===== Shared =====
QUEUE_URL=${QUEUE_RT_URL}                   # Required: RabbitMQ AMQP URL (amqp://user:pass@host:5672)

# ===== Broadcast Service =====
BROADCAST_FEED_PRESET=none                  # Default: none (no subscriptions, use Commands API to subscribe)
BROADCAST_PORT=                             # Default: <empty> (random available port)

# ===== Journalist Service =====
JOURNALIST_SUFFIX=                          # Optional. Write to its own namespace (<date>.<suffix>.csv.gz)
