# Collector Module Configuration
# Copy this file to .env and update all credentials!

# ===== Service Scaling ======
FEED_REPLICAS=1                             # Default: 1 (number of instances for horizontal scaling in Swarm)
WRITER_REPLICAS=1                           # Default: 1 (number of instances for horizontal scaling in Swarm)

# ===== Feed Service =====
FEED_EXCHANGE=ex.feed                       # Default: ex.feed (topic exchange feed publishes to)
FEED_QUEUE=q.feed                           # Default: q.feed (queue global consumers should subscribe to)
FEED_RECONNECT_DELAY_MS=5000                # Default: 5000 (initial reconnection delay to Bitmex WS)
FEED_MAX_RECONNECT_DELAY_MS=60000           # Default: 60000 (max reconnection delay to Bitmex WS)
FEED_MESSAGE_TTL=1800000                    # Default: 1800000 (30 minutes in ms) (queue TTL for feed messages)
FEED_PORT=                                  # Default: <empty> (random port)
FEED_RESTART_POLICY=unless-stopped          # Default: unless-stopped

# ===== Writer Service =====
WRITER_EXCHANGE=ex.archive               # Default: ex.archive (topic exchange writer consumes from)
WRITER_QUEUE=q.archive                   # Default: q.archive (subscribed to the all WRITER_EXCHANGE topics)
WRITER_BATCH_SIZE=1000                   # Default: 1000 (batch size to consume from rabbitmq)
WRITER_BATCH_TIMEOUT_MS=5000             # Default: 5000 (timeout for consuming from rabbitmq)
WRITER_PORT=                             # Default: <empty> (random available port)
WRITER_RESTART_POLICY=unless-stopped     # Default: unless-stopped
