# Realtime Deployment — Environment Variables
# Copy this file to .env and update all credentials!

# === GLOBAL ===
APP_ENV=dev
NODE_ENV=${APP_ENV}
LOG_LEVEL=info
TZ=UTC

# === DOCKER ===
PROJECT_NAME=tradebot
COMPOSE_PROJECT_NAME=

# === VAULT ===
VAULT_URL=http://vault
VAULT_PORT=1339
# VAULT_DATA_DIR=/data/bitmex/vault
VAULT_COMPRESSION_LEVEL=4

# === QUEUE ===
QUEUE_USER=readerqueue
QUEUE_PASS=duq90wdi43uds
QUEUE_PORT=6673
QUEUE_MGMT_PORT=8673
QUEUE_URL=amqp://${QUEUE_USER}:${QUEUE_PASS}@rabbitmq:5672

# === BOUNCER ===
BOUNCER_URL=http://mock
BOUNCER_TOKEN=not-used-in-this-module

# ===== Broadcast Service =====
BROADCAST_FEED_PRESET=none                  # Default: none (no subscriptions, use Commands API to subscribe)
BROADCAST_PORT=                             # Default: <empty> (random available port)

# ===== Journalist Service =====
JOURNALIST_SUFFIX=                          # Optional. Write to its own namespace (<date>.<suffix>.csv.gz)
