# Infra Module Configuration
# Copy this file to .env and update all credentials!

# ==========================================================================
# ===== NOTE: most if not all of these variables live in the root's ========
# =====        .env file. Use this one only to override if/as needed =======
# ==========================================================================

# ===== RabbitMQ (Message Queue) =====
RABBITMQ_USER=guest                             # Default: guest
RABBITMQ_PASS=guest                             # Default: guest
RABBITMQ_AMQP_PORT=                             # Default: <empty> (random external port)
RABBITMQ_MGMT_PORT=                             # Default: <empty> (random external port)
RABBITMQ_RESTART_POLICY=unless-stopped          # Default: unless-stopped

# ===== MongoDB (Persistence) =====
MONGODB_USER=root                               # Default: root
MONGODB_PASS=root                               # Default: root
MONGODB_PORT=                                   # Default: <empty> (random external port)
MONGODB_CACHE_SIZE_GB=2                         # Default: 2 (in GB)
MONGODB_RESTART_POLICY=unless-stopped           # Default: unless-stopped

# ===== Redis (Cache) =====
REDIS_PASS=                                     # Default: <empty> (no password)
REDIS_PORT=                                     # Default: <empty> (random external port)
REDIS_URL=redis://redis:6379                    # Default: redis://:@redis:6379 (internal)
REDIS_RESTART_POLICY=unless-stopped             # Default: unless-stopped
